@model  Agile_board.Models.Ticket

<div class="card bg-light border-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">@Model.Name</div>
    <div class="card-body">
        <p class="card-text"> @Model.Description</p>
    </div>
</div>
